<header class="site-header">

    <nav class="navbar">
        <ul class="nav-left">
            <li><a href="buy.html"></a>Buy</li>
            <li><a href="rent.html"></a>Rent</li>
            <li><a href="sell.html"></a>Sell</li>
            <li><a href="getamortgage.html"></a>Get a Mortgage</li>
            <li><a href="findanagent.html"></a>Find an Agent</li>
        </ul>

        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="Zillow Clone Logo">
            </a>
        </div>

        <ul class="nav-right">
            <li><a href="managerentals.html"></a>Manage Rentals</li>
            <li><a href="advertise.html"></a>Advertise</li>
            <li><a href="help.html"></a>Help</li>
            <li><a href="signin.html"></a>Sign in</li>
        </ul>
    </nav>
</header>