<header class="site-header">
    <nav class="navbar">
        <ul class="nav-left">
            <li class="dropdown">
                <a href="#">Buy</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Homes for sale</a></li>
                    <li><a href="#">Open houses</a></li>
                    <li><a href="#">New construction</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Rent</a>
                <ul class="dropdown-menu">
                    <li><a href="#">All rentals</a></li>
                    <li><a href="#">Apartments</a></li>
                    <li><a href="#">Houses</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Sell</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Post listing</a></li>
                    <li><a href="#">Pricing tool</a></li>
                </ul>
            </li>
            <li class="dropdown">

                <a href="#">Get a mortgage</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Find an Agent</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                </ul>
            </li>
        </ul>

        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.png" alt="Zillow Clone Logo">
            </a>
        </div>

        <ul class="nav-right">
            <li class="dropdown">
                <a href="#">Manage Rentals</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Payments</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Advertise</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Plans</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Help</a>
                <ul class="dropdown-menu">
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Sign In</a>
                <ul class="dropdown-menu">
                    <li><a href="#">User login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>